//--------------------------------------------------------------------
// Color palette
//--------------------------------------------------------------------


// Primary colors
$font_color: #384247;
$background_color: #fefefe;

// Main color
$color1_primary: #ed6700;
$color1_strong1: #964100;
$color1_strong2: #af662e;
$color1_weak1: #fba562;
$color1_weak2: #fbd1b1;

// Contrasting color
$color2_primary: #005799;
$color2_strong1: #003761;
$color2_strong2: #1e4d71;
$color2_weak1: #5babe9;
$color2_weak2: #a4cbe9;

// Sub-contrasting color
$color3_primary: #00a84e;
$color3_strong1: #006a31;
$color3_strong2: #207c4b;
$color3_weak1: #5cec9f;
$color3_weak2: #a6ecc6;

// Misc colors
$accent_color: #ff0000;
$error_color: #ff0030;
